<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="card card-signin my-5">
    <div class="card-body">
      <h5 class="card-title text-center">Unirse a Sala</h5>
      <input type="search" id="search" placeholder="Search" [(ngModel)]="searchText" id="search" class="form-control">

        <div class="scroll">
        <table id="myTable">
          <thead>
          <tr class="header">
            <th style="width:25%;">#</th>
            <th style="width:25%;">Usuario</th>
            <th style="width:25%;">Estado</th>
            <th style="width:25%;">Código</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of search()" (click)="goToGame(data.key)">
            <!--  <div *ngIf="data.nombreJ2!=null"></div> -->
              <th scope="row">{{data.id}}</th>
              <td>{{data.firstName}}</td>
              <td>{{data.lastName}}</td>
              <td>{{data.id}}</td>
            
            </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>
</div>