
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
                
              <h5 class="card-title text-center">Juega a Othello!</h5>
              
              <div class="div-play">
                <i class="far fa-play-circle d-flex justify-content-center"></i>
              </div>
              
              <div class="div-signin">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" routerLink="/game-mode" type="submit">Jugar Othello!</button>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

