.tablero{
    width:550px;
    height:550px;
    margin-top: 3%;
    text-align:center;
}
.tablero td {
    width:50px;
    height:50px;
    text-align:center;
    padding:0;
    margin: 0;
    border: solid black;
}

.tablero div {
    width:100%;
    height:100%;
}

.tablero button {
    margin:10%;
}

button.color1 {
    //background: #08090a;
    border:outset 3px;
    border-radius: 50%;
    border-color: #7d8c8e;
}

button.color01 {
    opacity: 0;
}

button.color01:hover{
    //background: #08090a;
    opacity: 1;
    border:outset 3px;
    border-radius: 50%;
    border-color: #7d8c8e;
}

button.color01:active{
    //background: #299ea7;
    opacity: 1;
    border:outset 3px;
    border-radius: 50%;
    border-color: #004edc;
}

button.color2 {
    //background: #cdd3da;

    border:outset 3px;
    border-radius: 50%;
    border-color: #7d8c8e;
}

button.color02 {
    //background: #cdd3da;
    opacity: 0;
}

button.color02:hover{
    //background: #cdd3da;
    opacity: 1;
    border:outset 3px;
    border-radius: 50%;
    border-color: #7d8c8e;
}

button.color02:active{
    //background: #299ea7;
    opacity: 1;
    border:outset 3px;
    border-radius: 50%;
    border-color: #004edc;
}

.emoji {
    font-size: 40px;
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    border-radius: 45px;
}