<div class="row w-100 m-0">
  <div class="col-sm-10 col-md-7 col-lg-7 mx-auto  mt-5 d-flex justify-content-center">
    <table class="tablero">
        <tr *ngFor="let fila of juego.tablero; let i = index">
                <td *ngFor="let casilla of fila; let j = index">
                  <div [style.background]="(i+j)%2 == 0 ? j1_color : j2_color" class="d-flex justify-content-center">
                    
                    <button *ngIf="casilla == 0" (click)="realizarJugada(i, j)" [style.background]="this.juego.jugador == 1 ? j1_color : j2_color" class="color{{ casilla }}{{ this.juego.jugador }} w-100"></button>
  
                    <button *ngIf="casilla != 0" [style.background]="casilla == 1 ? j1_color : j2_color" class="color{{ casilla }} w-100"></button>
                  
                  </div>
                </td>
        </tr>
    </table>
  </div>
  <div class="col-sm-10 col-md-4 col-lg-4 mx-auto d-flex justify-content-center">
    <div class="card card-signin my-5">
        <div class="p-2 text-center">
            <i class="far fa-flushed emoji"></i>
            <h2>Juego</h2>
        </div>
        <div class="pl-4 pr-4">
                <div class="row p-2">
                    <div class="col">
                        <h5>Fichas J1:</h5>
                    </div>
                    <div class="col">
                        #CantFichasJ1
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <h5>Fichas J2:</h5>
                    </div>
                    <div class="col">
                        #CantFichasJ2
                    </div>
                </div>  
                <div class="text-center">
                    <h4>Jugador actual:</h4>
                </div>
                <div class="text-center">
                        #NombreJugador
                </div>
            </div>

        <hr class="ml-5 mr-5">
      <!-- Titulo estadisticas -->
      <div class="p-2 text-center">
            <h2>Estadísticas</h2>
      </div>
      <!-- nombre del jugador 1-->
        <div class="p-2">
            <h4> #nombre del jugador1# </h4>
        </div>
      <!-- contiene las estadisticas jugador 1-->
      <div class="pl-4 pr-4">
            <div class="row p-2">
                <div class="col">
                    <h5>Partidas ganadas J1:</h5>
                </div>
                <div class="col">
                    #Ganesj1
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <h5>Partidas perdidas J1:</h5>
                </div>
                <div class="col">
                    #Perdidasj1
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <h5>Partidas Empatadas :</h5>
                </div>
                <div class="col">
                #empates
                </div>
            </div>    
        </div>
      <!-- nombre del jugador 2-->
      <div class="p-2">
            <h4> #nombre del jugador2# </h4>
        </div>
        <div class="pl-4 pr-4">
            <div class="row p-2">
                <div class="col">
                    <h5>Partidas ganadas J2:</h5>
                </div>
                <div class="col">
                    #Ganesj2
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <h5>Partidas perdidas J2:</h5>
                </div>
                <div class="col">
                    #Perdidasj2
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <h5>Partidas Empatadas:</h5>
                </div>
                <div class="col">
                    #empates
                </div>
            </div>
        </div>
    </div>
    </div>
</div>