
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h3 class="card-title text-center">Juega a Othello</h3>
              <h6 class="card-title2 text-center">Dificultad</h6>
              <div (submit)="onSubmitLogin()" class="div-signin">
                
                <button (click)="easy()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Fácil</button>
                <button (click)="medium()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Normal</button>
                <button (click)="hard()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Difícil</button>
                
                <hr class="my-4">
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" routerLink="/game-mode" type="submit">Atrás</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
