    <div class="row w-100 m-0">
      <div class="col-sm-9 col-md-7 col-lg-6 mx-auto d-flex justify-content-center">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Crear Sala</h5>
                  <form  (submit)="sessionData()" class="form-signin" id="datos" name="datos">
                      <div class="form-label-group">
                          <input  type="text" id="size" name="size" class="form-control" placeholder="size" required [(ngModel)]="size" >
                   
                          <label for="size">Tamaño</label>
                      </div>
                      <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                          <label class="mr-sm-2" for="jug1">Color de jugador 1</label>
                          <select [(ngModel)]="jug1" class="custom-select mr-sm-2" name="jug1" id="jug1">
                            <option value="#000000" style="background-color: Black;color: #FFFFFF;">Black</option>
                            <option value="#808080" style="background-color: Gray;">Gray</option>
                            <option value="#A9A9A9" style="background-color: DarkGray;">DarkGray</option>
                            <option value="#D3D3D3" style="background-color: LightGrey;">LightGray</option>
                            <option value="#FFFFFF" style="background-color: White;">White</option>
                            <option value="#7FFFD4" style="background-color: Aquamarine;">Aquamarine</option>
                            <option value="#0000FF" style="background-color: Blue;">Blue</option>
                            <option value="#000080" style="background-color: Navy;color: #FFFFFF;">Navy</option>
                            <option value="#800080" style="background-color: Purple;color: #FFFFFF;">Purple</option>
                            <option value="#FF1493" style="background-color: DeepPink;">DeepPink</option>
                            <option value="#EE82EE" style="background-color: Violet;">Violet</option>
                            <option value="#FFC0CB" style="background-color: Pink;">Pink</option>
                            <option value="#006400" style="background-color: DarkGreen;color: #FFFFFF;">DarkGreen</option>
                            <option value="#008000" style="background-color: Green;color: #FFFFFF;">Green</option>
                            <option value="#9ACD32" style="background-color: YellowGreen;">YellowGreen</option>
                            <option value="#FFFF00" style="background-color: Yellow;">Yellow</option>
                            <option value="#FFA500" style="background-color: Orange;">Orange</option>
                            <option value="#FF0000" style="background-color: Red;">Red</option>
                            <option value="#A52A2A" style="background-color: Brown;">Brown</option>
                            <option value="#DEB887" style="background-color: BurlyWood;">BurlyWood</option>
                            <option value="#F5F5DC" style="background-color: Beige;">Beige</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                          <label class="mr-sm-2" for="jug2">Color de jugador 2</label>
                          <select [(ngModel)]="jug2" class="custom-select mr-sm-2" name="jug2" id="jug2">
                            <option value="#000000" style="background-color: Black;color: #FFFFFF;">Black</option>
                          <option value="#808080" style="background-color: Gray;">Gray</option>
                          <option value="#A9A9A9" style="background-color: DarkGray;">DarkGray</option>
                          <option value="#D3D3D3" style="background-color: LightGrey;">LightGray</option>
                          <option value="#FFFFFF" style="background-color: White;">White</option>
                          <option value="#7FFFD4" style="background-color: Aquamarine;">Aquamarine</option>
                          <option value="#0000FF" style="background-color: Blue;">Blue</option>
                          <option value="#000080" style="background-color: Navy;color: #FFFFFF;">Navy</option>
                          <option value="#800080" style="background-color: Purple;color: #FFFFFF;">Purple</option>
                          <option value="#FF1493" style="background-color: DeepPink;">DeepPink</option>
                          <option value="#EE82EE" style="background-color: Violet;">Violet</option>
                          <option value="#FFC0CB" style="background-color: Pink;">Pink</option>
                          <option value="#006400" style="background-color: DarkGreen;color: #FFFFFF;">DarkGreen</option>
                          <option value="#008000" style="background-color: Green;color: #FFFFFF;">Green</option>
                          <option value="#9ACD32" style="background-color: YellowGreen;">YellowGreen</option>
                          <option value="#FFFF00" style="background-color: Yellow;">Yellow</option>
                          <option value="#FFA500" style="background-color: Orange;">Orange</option>
                          <option value="#FF0000" style="background-color: Red;">Red</option>
                          <option value="#A52A2A" style="background-color: Brown;">Brown</option>
                          <option value="#DEB887" style="background-color: BurlyWood;">BurlyWood</option>
                          <option value="#F5F5DC" style="background-color: Beige;">Beige</option>
                          </select>
                        </div>
                      </div>
                    
                  
                    <button  class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Crear</button>
                    
                  </form>
                </div>
              </div>
            </div>
          
        
              <div class="col-sm-9 col-md-7 col-lg-6 mx-auto d-flex justify-content-center">
                <div class="card card-signin my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Unirse a Sala</h5>
                    <input type="search" id="search" placeholder="Search" [(ngModel)]="searchText" id="search" class="form-control">

                      <div class="scroll">
                      <table id="myTable">
                        <thead>
                        <tr class="header">
                          <th style="width:25%;">#</th>
                          <th style="width:25%;">Usuario</th>
                          <th style="width:25%;">Código</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of this.tableData" (click)="goToGame(data.key)">

                              <th *ngIf="data.nombreJ2==null" scope="row">{{data.index}}</th>
                              <td *ngIf="data.nombreJ2==null">{{data.nombreJ1}}</td>
                              <td *ngIf="data.nombreJ2==null">{{data.key}}</td>
                          
                          </tr>
                      </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
      