
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Othello</h5>
              <form (submit)="onSubmitAddUser()" class="form-signin">
                  <div class="form-label-group">
                      <input type="text" id="username" class="form-control" placeholder="username" required autofocus>
                      <label for="username">Username</label>
                  </div>
                <div class="form-label-group">
                  <input type="email" id="inputEmail" [(ngModel)]="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email address</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" placeholder="confirm" required>
                  <label for="confirmPassword">Confirm Password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

