
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/"><span class="text-primary">OTHELLO</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!isLogin || router.url === '/login' || router.url === '/register' || router.url === '/'">
          <a class="nav-link" routerLink="/login">Ingresar</a>
        </li>
        <li class="nav-item" *ngIf="!isLogin || router.url === '/login' || router.url === '/register' || router.url === '/'">
          <a class="nav-link" routerLink="/register">Registrarse</a>
        </li>
        <li class="nav-item" *ngIf="isLogin && router.url != '/login' && router.url != '/register' && router.url != '/'" >
          <a class="nav-link" routerLink="/logged">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="isLogin && router.url != '/login' && router.url != '/register' && router.url != '/'" >
          <a class="nav-link" routerLink="" (click)="onClickLogout()" >Salir</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto" *ngIf="isLogin && router.url != '/login' && router.url != '/register' && router.url != '/'">
        <li class="nav-item" *ngIf="nombreUsuario!=null">
          <a class="nav-link">Usuario: {{nombreUsuario}}</a>
        </li>
        <li class="nav-item" *ngIf="nombreUsuario==null && router.url != '/login' && router.url != '/register' && router.url != '/'">
          <a class="nav-link">Usuario: {{emailUsuario}}</a>
        </li>
      </ul>
  
    </div>
  </nav>
</body>

