
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Othello</h5>
              <form (submit)="onSubmitLogin()" class="form-signin">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" [(ngModel)]="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email address</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>
  
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button (click)="onSubmitLogin(email, password)" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Ingresar</button>
                <hr class="my-4">
              </form>
                <button (click)="onClickGoogleLogin()" class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i>Ingresar con Google</button>
                <button (click)="onClickFacebookLogin()" class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"> <i class="fab fa-facebook-f mr-2"></i> Ingresar con Facebook</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>


